
semester 2/algoritma (A)/output/output/output/Soal Praktikum Algoritma Pemrograman.exe
semester 2/algoritma (A)/output/output/output/Soal Praktikum Algoritma Pemrograman.exe
semester 4/Pemrograman Web H/Project UTS/website perpustakaan/
semester 4/Pemrograman Web H/Project UTS/website perpustakaan/bookshelf-app-dark-mode-/
/semester 4/Pemrograman Web H/Project UTS/website perpustakaan
semester 5/Informatika medis A/tugas 1/chest_xray
semester 5/Pemrograman cryptocurrency A/tugas 2/indodax_server.php
semester 5/Aplikasi Mobile A/jdk-25
semester 5/Pemrograman cryptocurrency A/tugas 3
semester 5/Pemrograman cryptocurrency A/tugas 2
semester 5/Pemrograman cryptocurrency A/tugas 3/bot.php
semester 5/Pemrograman cryptocurrency A/tugas 3/bot.php
