body {
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  background: white;
  width: 70%;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

form {
  margin-top: 20px;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background: royalblue;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  background: #fafafa;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 4px solid royalblue;
}
